@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h2>Welcome to the Contract Monthly Claiming System</h2>

    <p>This system is designed for managing monthly claims for contracts. It allows <strong>Lecturers</strong> to submit claims,<br/>
        <strong>Program Coordinators</strong> to review them, and <strong>Program Managers</strong> to monitor reports.</p>

    <p>The Contract Monthly Claiming System aims to streamline the process of submitting, reviewing, and managing monthly claims for various contracts.<br/>
       This ensures efficient tracking and processing of claims, making it easier for all parties involved to manage their responsibilities.</p>

    <p>Please Login to continue.</p>

    <a href="/Account/Login"><button>Log In</button></a>
</div>








