@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h2>Welcome to the Contract Monthly Claiming System</h2>

    
    <p>Please Login to continue.</p>

    <a href="/Account/Login"><button>Log In</button></a>
</div>








